.vscode/settings.json

*.tar.gz
hlsp_phangs-cat_hst_acs-uvis_ngc1097_multi_v1_cats
hlsp_phangs-hst_hst_wfc3-uvis_ngc1097mosaic_multi_v1_drc-bundle

*.fits
!candidate_table_ngc1097.fits
!filtered_file.fits
!valid_detections.fits
hlsp_phangs-cat_hst_uvis_ngc1097_multi_v1_obs-human-cluster-class12
hlsp_phangs-cat_hst_uvis_ngc1097_multi_v1_obs-human-compact-association-class3
hlsp_phangs-cat_hst_uvis_ngc1097_multi_v1_obs-machine-cluster-class12
hlsp_phangs-cat_hst_uvis_ngc1097_multi_v1_obs-machine-compact-association-class3

*.npy
._age_mod_sol5
._model_bv_sol5
._model_nuvb_sol5
._model_ub_sol5
._model_vi_sol5

sundog_subimage.png

BC03_models.zip

.ipynb_checkpoints/

helper_func.cpython-312.pyc
__pycache__
catalogs
__MACOSX
BC03_models
ngc1097mosaic

cutout_pngs
train_pngs
test_pngs